html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  background-color: #000;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.app-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.page-wrap {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100vw;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100vw;
  padding-top: 30px;
}
.page h1 {
  font-size: 8rem;
}
.page-index {
  background-color: hotpink;
}

.page-one {
  background-color: palegoldenrod;
}

.page-two {
  background-color:#459e9e
}

.page-three {
  background-color: palevioletred;
}

.page-four {
  background-color: palegreen;
}

.page-wrap > h1 {
  margin-top: 0;
}

.ui-wrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 14px;
  z-index: 1;
}
.navigation {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.anim-switch {
  margin-top: 14px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.exit-box {
  color:#fff;
  display: inline-block;
  margin-left:14px;
  cursor: pointer;
  /* margin:0 14px; */
}

.exit-box [type='checkbox']{
 margin:0 8px;
}

.navigation a {
  display: inline-block;
  color: #fff;
  margin: 0 14px;
  padding: 8px;
  border-radius: 8px;
}

.navigation a:hover {
  transform: scale(1.1);
}

a.selected {
  background-color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
